* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

ficha {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: red; /* Cambio del fondo a rojo */
}

nombre {
    font-size: 20px;
    font-weight: bold;
}

apellido, direccion, DUI, edad {
    margin-top: 5px;
}

genero[masculino]::before {
    content: "(Género masculino) ";
    color: blue;
}

genero[femenino]::before {
    content: "(Género femenino) ";
    color: pink;
}

edad::before {
    content: "Edad: ";
    color: green;
}
